<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<h1>Welcome to Bucketlistr <%= @user.name %>!</h1>
<p>Your new bucket list has been added!</p>

<p>You can visit your bucket list at www.bucketliztr/<%= @user.name %></p>

<p>If you want to update your bucket list, you only need to confirm your e-mail address. If you didn't insert an e-mail address, no confirmation is necessary. (But this also means anyone could edit your bucket list.)</p>

<p>Good luck living life to the fullest!</p>
 
<p>Cheers,</p>
<p>Rosie</p>

  </body>
</html>