<fieldset id="list-items">
	<div class="list_item">
	  <div class="form-group">
	    <%= f.label :name, "Add an Item" %>
	    <%= f.text_field :name %>
	  </div>
	  <div class="form-group">
	    <%= f.check_box :_destroy, class: "remove" %>
	    <%= f.label :_destroy, "Remove an Item" %>
	  </div>
	</div>
</fieldset>

