<fieldset>
  <div class="form-group">
    <%= f.label :name, "Add an Item" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove an Item" %>
  </div>
</fieldset>
