
  <div class="page-header" id="banner">
    <h1 class="amatic animated fadeIn">Edit Your Bucket List</h1>
    <div class="container">
      <div class="row">
        <div class=" col-xs-12 col-sm-6">
          <div class="form-container clearfix">

          <%= render 'form' %>

          <%= link_to 'Back to Bucket List Page', @user %> 
          

        </div>
      </div>
    </div>
  </div>
</div>
<div class="pull-right">
  <%= link_to 'Delete Bucket List', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>