 
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-6">
          <h1>Get Started!</h1>
          <p class="lead">Create your list. No need to enter your real name.</p>
        </div>
      </div>
  	</div>

		<p><%= link_to 'Show Me Other Bucket Lists First', users_path %></p>

		<%= render 'form' %>
		
	</div>
            


