  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-6">
          <h1>About</h1>
          <p class="lead">Coming Soon!</p>
        </div>
      </div>
  	</div>


 </div>
