  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-6">
          <h1>Welcome to My Bucket List</h1>
          <p class="lead">It's fun.</p>
        </div>
      </div>
  	</div>
<h3>
	<%= link_to "Create a New Bucket List", new_user_path %>
</h3>

</div>
